In [48]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import scipy as sc
from scipy import stats

In [49]:
train = pd.read_csv("train.csv")
train.head()

,text_id,full_text,cohesion,syntax,vocabulary,phraseology,grammar,conventions
0,0016926B079C,I think that students would benefit from learn...,3.5,3.5,3.0,3.0,4.0,3.0
1,0022683E9EA5,When a problem is a change you have to let it ...,2.5,2.5,3.0,2.0,2.0,2.5
2,00299B378633,"Dear, Principal\n\nIf u change the school poli...",3.0,3.5,3.0,3.0,3.0,2.5
3,003885A45F42,The best time in life is when you become yours...,4.5,4.5,4.5,4.5,4.0,5.0
4,0049B1DF5CCC,Small act of kindness can impact in other peop...,2.5,3.0,3.0,3.0,2.5,2.5

In [50]:
test = pd.read_csv("test.csv")
test.head()

        text_id                                          full_text
0  0000C359D63E  when a person has no experience on a job their...
1  000BAD50D026  Do you think students would benefit from being...
2  00367BB2546B  Thomas Jefferson once states that "it is wonde...

In [51]:
final = pd.read_csv("sample_submission.csv")
final

,text_id,cohesion,syntax,vocabulary,phraseology,grammar,conventions
0,0000C359D63E,3.0,3.0,3.0,3.0,3.0,3.0
1,000BAD50D026,3.0,3.0,3.0,3.0,3.0,3.0
2,00367BB2546B,3.0,3.0,3.0,3.0,3.0,3.0

### EDA: Getting to know our data

In [52]:
#add a new column to reflect the length of article
length = []
for i in train['full_text']:
    leng = len(i.split())
    length.append(leng)

In [53]:
train['full_text'] = train["full_text"].replace(re.compile(r'[\n\r\t]'), ' ', regex=True)
test['full_text'] = test["full_text"].replace(re.compile(r'[\n\r\t]'), ' ', regex=True)

In [54]:
train['text_length']=length
train

,text_id,full_text,cohesion,syntax,vocabulary,phraseology,grammar,conventions,text_length
0,0016926B079C,I think that students would benefit from learn...,3.5,3.5,3.0,3.0,4.0,3.0,261
1,0022683E9EA5,When a problem is a change you have to let it ...,2.5,2.5,3.0,2.0,2.0,2.5,533
2,00299B378633,"Dear, Principal If u change the school policy...",3.0,3.5,3.0,3.0,3.0,2.5,320
3,003885A45F42,The best time in life is when you become yours...,4.5,4.5,4.5,4.5,4.0,5.0,728
4,0049B1DF5CCC,Small act of kindness can impact in other peop...,2.5,3.0,3.0,3.0,2.5,2.5,234
...,...,...,...,...,...,...,...,...,...
3906,FFD29828A873,I believe using cellphones in class for educat...,2.5,3.0,3.0,3.5,2.5,2.5,179
3907,FFD9A83B0849,"Working alone, students do not have to argue w...",4.0,4.0,4.0,4.0,3.5,3.0,465
3908,FFDC4011AC9C,"""A problem is a chance for you to do your best...",2.5,3.0,3.0,3.0,3.5,3.0,257
3909,FFE16D704B16,Many people disagree with Albert Schweitzer's ...,4.0,4.5,4.5,4.0,4.5,4.5,510
3910,FFED00D6E0BD,Do you think that failure is the main thing fo...,3.5,2.5,3.5,3.0,3.0,3.5,638

In [55]:
des_df = train[['text_id','cohesion','syntax','vocabulary','vocabulary','grammar','conventions']]
des_df

,text_id,cohesion,syntax,vocabulary,vocabulary,grammar,conventions
0,0016926B079C,3.5,3.5,3.0,3.0,4.0,3.0
1,0022683E9EA5,2.5,2.5,3.0,3.0,2.0,2.5
2,00299B378633,3.0,3.5,3.0,3.0,3.0,2.5
3,003885A45F42,4.5,4.5,4.5,4.5,4.0,5.0
4,0049B1DF5CCC,2.5,3.0,3.0,3.0,2.5,2.5
...,...,...,...,...,...,...,...
3906,FFD29828A873,2.5,3.0,3.0,3.0,2.5,2.5
3907,FFD9A83B0849,4.0,4.0,4.0,4.0,3.5,3.0
3908,FFDC4011AC9C,2.5,3.0,3.0,3.0,3.5,3.0
3909,FFE16D704B16,4.0,4.5,4.5,4.5,4.5,4.5
3910,FFED00D6E0BD,3.5,2.5,3.5,3.5,3.0,3.5

### Statistical Description for Train Dataset

In [56]:
des_train = des_df.select_dtypes(['int','float']).describe().T
#des_train = des_train.set_index('index')
reset_train = des_df.select_dtypes(['int','float']).describe().T.reset_index(drop=False) 
reset_train.style.background_gradient(cmap='Greens')

In [57]:
from plotly.subplots import make_subplots
import plotly.figure_factory as ff
import plotly.graph_objs as go
import pandas as pd
import numpy as np

In [58]:
plot_rows=3
plot_cols=2
fig = make_subplots(rows=plot_rows, cols=plot_cols)

In [59]:
import nltk
from nltk.tokenize import word_tokenize
nltk.download('brown')

[nltk_data] Downloading package brown to /Users/yudichen/nltk_data...
[nltk_data]   Package brown is already up-to-date!

True

In [60]:
text = nltk.word_tokenize("And now for something completely different")
pos_tagger_result = nltk.pos_tag(text)
print(pos_tagger_result)

[('And', 'CC'), ('now', 'RB'), ('for', 'IN'), ('something', 'NN'), ('completely', 'RB'), ('different', 'JJ')]

In [61]:
# sample_train = train['full_text'][:50]

text_tag = []
for i in train['full_text']:
    i = word_tokenize(i)
    pos_tagger = nltk.pos_tag(i)
    word_tag = []
    for j in pos_tagger:
        (word,tag) = j
        word_tag.append(tag)
    text_tag.append(word_tag)

In [62]:
import nltk
from nltk.data import load
nltk.download('tagsets')
tagdict = load('help/tagsets/upenn_tagset.pickle')
tagdict.keys()

[nltk_data] Downloading package tagsets to
[nltk_data]     /Users/yudichen/nltk_data...
[nltk_data]   Package tagsets is already up-to-date!

dict_keys(['LS', 'TO', 'VBN', "''", 'WP', 'UH', 'VBG', 'JJ', 'VBZ', '--', 'VBP', 'NN', 'DT', 'PRP', ':', 'WP$', 'NNPS', 'PRP$', 'WDT', '(', ')', '.', ',', '``', '$', 'RB', 'RBR', 'RBS', 'VBD', 'IN', 'FW', 'RP', 'JJR', 'JJS', 'PDT', 'MD', 'VB', 'WRB', 'NNP', 'EX', 'NNS', 'SYM', 'CC', 'CD', 'POS'])

In [63]:
tags = list(tagdict.keys())
tags.append("#")
tags

['LS',
 'TO',
 'VBN',
 "''",
 'WP',
 'UH',
 'VBG',
 'JJ',
 'VBZ',
 '--',
 'VBP',
 'NN',
 'DT',
 'PRP',
 ':',
 'WP$',
 'NNPS',
 'PRP$',
 'WDT',
 '(',
 ')',
 '.',
 ',',
 '``',
 '$',
 'RB',
 'RBR',
 'RBS',
 'VBD',
 'IN',
 'FW',
 'RP',
 'JJR',
 'JJS',
 'PDT',
 'MD',
 'VB',
 'WRB',
 'NNP',
 'EX',
 'NNS',
 'SYM',
 'CC',
 'CD',
 'POS',
 '#']

In [64]:
#list(tagdict.keys())
freq = pd.DataFrame(index=range(0,len(train)),columns=tags)
freq.iloc[:] = 0
freq = freq.astype('int')

In [65]:
from collections import Counter
d = []
for i in text_tag:
    d.append(Counter(i))

In [66]:
for i in range(len(train)):
    for key, value in d[i].items():
        freq[key][i] = value

In [67]:
verb = ["VB","VBG","VBD","VBN","VBP","VBZ"]
wh = ["WDT","WP","WRB","PDT","DT","WP$"] #determiner
connection = ["UH","RP","TO","IN","CC","MD","EX"]
adb = ["RB","RBR","RBS"]
pronoun = ["POS","PRP","PRP$"]
noun = ["NN","NNS","NNP","NNPS","LS"]
adj = ["JJ","JJR","JJS"]
fw = ["FW"] #foreign word
number = ['CD'] #number
punc = ["''","--","(",")",".",",","``","$","#","SYM"]

word_type = [verb,wh,connection,adb,pronoun, noun,adj,fw,number,punc]

In [68]:
#df['Fruit Total']= df.iloc[:, -4:-1].sum(axis=1)
train['verb'] = freq[verb].sum(axis=1)
train['wh'] = freq[wh].sum(axis=1)
train['connection'] = freq[connection].sum(axis=1)
train['adb'] = freq[adb].sum(axis=1)
train['pronoun'] = freq[pronoun].sum(axis=1)
train['noun'] = freq[noun].sum(axis=1)
train['adj'] = freq[adj].sum(axis=1)
train['fw'] = freq[fw].sum(axis=1)
train['number'] = freq[number].sum(axis=1)
train['punc'] = freq[punc].sum(axis=1)

In [69]:
train

,text_id,full_text,cohesion,syntax,vocabulary,phraseology,grammar,conventions,text_length,verb,wh,connection,adb,pronoun,noun,adj,fw,number,punc
0,0016926B079C,I think that students would benefit from learn...,3.5,3.5,3.0,3.0,4.0,3.0,261,63,21,69,13,32,47,19,0,0,19
1,0022683E9EA5,When a problem is a change you have to let it ...,2.5,2.5,3.0,2.0,2.0,2.5,533,131,53,137,25,57,89,42,0,2,18
2,00299B378633,"Dear, Principal If u change the school policy...",3.0,3.5,3.0,3.0,3.0,2.5,320,71,32,91,15,32,68,21,0,0,26
3,003885A45F42,The best time in life is when you become yours...,4.5,4.5,4.5,4.5,4.0,5.0,728,204,68,162,46,125,94,56,0,2,79
4,0049B1DF5CCC,Small act of kindness can impact in other peop...,2.5,3.0,3.0,3.0,2.5,2.5,234,51,34,42,5,30,59,12,0,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3906,FFD29828A873,I believe using cellphones in class for educat...,2.5,3.0,3.0,3.5,2.5,2.5,179,36,14,40,9,21,49,9,0,0,11
3907,FFD9A83B0849,"Working alone, students do not have to argue w...",4.0,4.0,4.0,4.0,3.5,3.0,465,93,49,132,27,17,103,41,0,5,32
3908,FFDC4011AC9C,"""A problem is a chance for you to do your best...",2.5,3.0,3.0,3.0,3.5,3.0,257,52,26,66,21,35,39,17,0,2,17
3909,FFE16D704B16,Many people disagree with Albert Schweitzer's ...,4.0,4.5,4.5,4.0,4.5,4.5,510,102,42,121,30,68,108,46,0,2,39
3910,FFED00D6E0BD,Do you think that failure is the main thing fo...,3.5,2.5,3.5,3.0,3.0,3.5,638,174,53,167,28,77,117,35,0,0,33

In [ ]:
from transformers import DebertaTokenizer, DebertaModel
import torch
tokenizer = DebertaTokenizer.from_pretrained("microsoft/deberta-base")
model = DebertaModel.from_pretrained("microsoft/deberta-base")

In [ ]:
text_list = []
for i in train['full_text']:
  i = str(i)
  text_list.append(i)

In [ ]:
listlist = []
for i in range(len(text_list)):
  encoded_input = tokenizer(text_list[i], return_tensors='pt',padding=True, truncation=True)
  output = model(**encoded_input)
  listlist.append(output[0])